

.bg-body-tertiary{padding-left:190px;
                padding-right: 100px;}






.btn-outline-success{background-color: rgb(199, 207, 199);}
.btn-outline-success:hover{background-color: rgb(144, 153, 144);}

.header{background-color:rgb(244, 242, 236);
        padding-bottom:4px;
        display: flex;
        width:100%;
    }

.types_model{display:grid;
            grid-template-columns: auto auto auto auto auto;
            padding-left:200px;
            padding-right:700px;
            padding-top:5px;
            padding-bottom: 10px;
            background-color: white;
            gap:20px;
            width:80%;
            color: black;
            
            
        }
a{text-decoration: none;
    color:black;}
.icons_model{
    padding-left:50px;
    padding-right:100px;
    width:20%;
    background-color: white;
    padding-top: 5px;
    gap:10px;
    
    
}
.image_content{display:flex;
}


.image{padding-left:150px;
        padding-top:50px;
    }


.content{padding-top:120px;
    padding-left:50px;
}
p{font-size: large;
    color: #8f8d8d;
}
.anchor{background-color:rgb(43, 165, 43);
        color:white;
        display: inline-block;
        height:30px;
        width:100px;
        text-align:center;}


.offers{display:flex;
    height:50%;
    gap:0%;
    padding-left:180px;}


.image1{ background: url("images/banner-1.jpg");    
    background-repeat: no-repeat;
    display:flex;
    width:45%;
    height:100%;
    padding-left:20px;
}

.image2{ background: url("images/banner-2.jpg");
    padding-left:20px;
    background-repeat: no-repeat;
    display:flex;
    width:45%;
    height:100%;
    

}
.span{text-align:center;
        padding-left:10px;
        padding-top:100px;}

.span1{text-align:center;
        padding-top:100px;}


h4{text-align:left;}
.para1{text-align:left;}
.para2{text-align:left;}
.anchor1{background-color:rgb(43, 165, 43);
        color:white;
        display:inline-block;
        height:30px;
        width:100px;
        text-align:center;

        }
        .anchor1_1{background-color:rgb(43, 165, 43);
            color:white;
            display:inline-block;
            height:30px;
            width:100px;
            text-align:center;
            }

/*category*/

.head1{text-align:center;
        padding-bottom:20px;
        padding-top:10px;
    padding-bottom:30px}


.veg1{display: inline-block;
    padding-top:70px;
    text-align:center;
}


.neeli{
    text-align:center;
    justify-items: center;
    height:65%;
    width:100%;  
    padding-bottom: 1px;  
}

.secondary{display:grid;
            grid-template-columns: auto auto auto auto auto;
            padding-top:5px;
            border-color:block;
            border-style: groove;
            border-color:rgb(236, 230, 230);
            display: inline-block;
            height:80%;
            width:17%;
            text-align:center !important;
            justify-items: center !important;
            gap:10px;
            grid-template-columns: repeat(4, 1fr); 
            gap:10% !important;
            
            
        }
.veg1{padding-top:30px;}
.shop{background-color:rgb(43, 165, 43);
    color:white;
    display:inline-block;
    height:30px;
    width:95%;
    padding-top:-2px;
    text-align:center;
    justify-items: center;
    gap:10%;
    }







/*product*/
.neeli1{
    text-align:center;
    justify-items:center;
    width:80%;
    padding-top:2px;
    column-gap:0%;
   padding-left:100px;
   padding-right:100px;
    margin:0px;
align-items: center;
    margin-left:150px;
    margin-right:300px;
    column-gap: auto;
    row-gap: 1%;
    }

.span2{color:green;
padding-top:px;}

.head2{text-align:center;
    padding-bottom:30px;
    padding-top:0%;}


.product{display:grid;
    
    padding-top:5px;
    border-color:block;
    border-style: groove;
    border-color:rgb(236, 230, 230);
    display: inline-block;
    height:55%;
    width:30%;
    text-align:center !important;
    justify-items: center !important;
    gap:10px;
    grid-template-columns: repeat(3, 1fr); 
    gap:10% !important;
    
   
}

.text5{width:0%;
text-align:center;
display:flex;
text-align: center;


}


.span3{padding-bottom:3px;
padding-top:3px;
text-decoration: line-through;}

.input{text-align:center;}



.cart1{background-color:rgb(43, 165, 43);
    color:white;
    display:inline-block;
    height:30px;
    width:230px;
    text-align:center;
    justify-items: center;
    padding-top:1px;
    padding-bottom:10px;
    margin-top:10px;
    
    }
.box{
    width:40px;
    height: 29px;
    font-size: 20px;
    background-color: lightgray;
    border-radius: 1px;
    display:inline-block;
    text-align:center;
    margin-right:245px;
    
    padding-bottom:10px;
}

.deal{background:url("images/deal-bg.jpg");
    height:80%;
    width:100%;
    padding-top:100px;
    display: flex;
     display: inline-block;
     text-align:center;
     margin-top: 50px;
     padding-left:100px;
}

.day{
    display:inline-block;
    text-align:center;}
.h1{text-align:left;
    padding-left:100px;}
.lorem{text-align:left;
    padding-left:100px;
    color:black}
.p1{color:black;
    font-style:oblique;}
.check{
        height:15px;
        width:10%;
        border-style: groove;
        background-color: green;
        color:white;
        text-align:center;
        justify-items: center;
        }

.contacts{height:auto;
         text-align:center;
        padding-top:10px;
        
        }


        .span5{color:green;
                text-align:center;}

                .information {
                    height:55%;  
                    max-width: 800px; 
                    border: 2px groove rgb(152, 149, 149);
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    text-align:center;
                    justify-items: center;
                    padding-bottom: 200px;
                    
                    
                }
                .second_information{
                    resize: none;

                }
                .pl1{background-color: #e1dfdf;
                    resize:none;}
                
                .main_information {
                    padding:5px;  
                    text-align: left;
                    width: 100%;  
                    display: flex;
                    gap:20px;
                    text-align:center;
                    justify-items: center;
                    resize: none;

                    
                }
                .send {
                    padding-top:px;
                    padding-bottom:10px;
                    height: 40px;
                    width: 220px;
                    background-color: green;
                    color: white;
                    display: inline;
                    align-items: center;    
                    justify-content: center; 
                    border-style: groove;           
                    cursor: pointer;        
                    font-size: 16px;   
                    padding-right:center;
                    padding-left:center; 
                    text-align:center;  
                    
                }
                .main_send{width:800px;
                border-top:20px;
                padding-top:10px;
            text-align:center;}
                
                .text1{background-color: #8f8d8d;}

.nav{background-image:url("images/newsletter-bg.jpg");
    height:30%;
    text-align: center;
    align-content: center;
    text-align:center;
    display: flex;
    flex-direction: column;
    padding-top:50px;
    margin-top:20px;
    resize: none;
    width:100%;


    }
.nav_matter{text-align:center;
            justify-items: center;
    
}
.h4{text-align:center;
    justify-items: center;
  

}
.sub{height:30px;
    width:299px;
    border-style: groove;
    border-color: black;
    margin-top:15px;
    }
.subscribe{
    justify-content: center;
    align-items: center; 
    padding-top:50px;    
}

.left_hand{height:40px;
    width:300px;
    border-style: groove;
    border-color: black;
    margin-top:15px;
    border-bottom:auto;
    border-top:auto;
    background-color:green;
    color:white;}



.paragraph1{color:black}

.foot{
        margin-top:50px;
    height:auto;
    
    }


.footer_grid{
        display:grid;
        grid-template-columns:  repeat(4, 1fr);
        gap:5px;
        background-color:white;

        }


.span10{font-size:20px;
        font-weight:bold;
    }


.fool2{font-size:15px;
        color: black;}

.first_left{padding-left:20px;}


.first_left,.location,.links,.app{
                                    gap:20px;}

.fool4{color: rgb(79, 77, 77);
    font-size:15px;}
.fool6{color: rgb(90, 87, 87);
    font-size:15px;}
.fool8{color: rgb(82, 80, 80);
    font-size:15px;}



.img_icon{
        display:flex;
        flex-direction: row;
        gap:1px;
    padding-left:30px;
    margin-bottom:7px;}




.abc{
    margin-top:50px;
    height:100%;
    width:100%;
    text-align:center;
    }


.line{width:50%;
    align-items:center;
    margin-left:25%}



.span11{color:green;}







.container {
    display: flex;
    gap: 20px;
    
}
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 15px;
    
    width: 100px;
    margin-bottom: 10px;
    height:85px;
}

.dayNum{text-align:center;
        }
.card1{text-align:center;
    margin-top:0%;
    background-color:white;}
.label{background-color:rgb(17, 15, 15);
        color:rgb(250, 245, 245);
         width: 100%;
        text-align:center;
        align-items:center;
        

        }













































    
.bg-body-tertiary {
    padding-left: 190px;
    padding-right: 100px;
}

.types_model {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 200px;
    padding-right: 700px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: white;
    gap: 20px;
    width: 80%;
}


@media (max-width: 578px) {
    .bg-body-tertiary {
        padding-left: 20px;
        padding-right: 20px;
        margin-top:20px;
    }

    .types_model {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        margin-top:20px;
    }

    .image_content {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .image {
        padding-left: 0;
        padding-top: 20px;
        width: 100%;
    }

    .content {
        padding-top: 20px;
        padding-left: 0;
        text-align: center;
    }

    .offers {
        flex-direction: column;
        padding-left: 0;
        align-items: center;
        margin-top:10px;
    }

    .image1, .image2 {
        width: 90%;
        height: 100%;
        padding-left: 0;
        background-size: cover;
    }
    .neeli{
        text-align:center;
        justify-items: center;
        height:62%;
        width:100%;  
        padding-bottom: 1px;  
    }

    .secondary {
        grid-template-rows: repeat(5, 1fr);
        width: 45%;
    }
    .head1{margin-top:100px;
            height:10%;}
            .neeli1 {
                display: grid;
                width: 50%;
                grid-template-columns: auto; 
                text-align: left;
                align-items: start; 
                padding: 0; 
                gap: 10px; 
            }
            
            .head2 {
                margin-top: 70%; 
            }
            
            .product {
                height: 100%;
                width: 100%; 
                text-align: center;
                box-sizing: border-box; 
            }

    .cart1 {
        width:100%;
        
        
    }
    .text{width:100%;
        text-align:center;
        padding-left:0%;
        border-bottom:10px;
        margin-bottom: 10px;}
    .span3{width:2px;}
    

    .deal {
        border-top:200px;
        width: 100%;
        padding-left: 0;
        text-align: center;
        height:80%;
        border-top:500px;
    }

    .h1, .lorem {
        padding-left: 0;
        text-align: center;
    }

    /* .contacts {
        text-align: left;
    } */
    .contacts{width:100%;
             height:auto;
            align-items:center;
            text-align: center;
        
    }
        .information {
            width: 100%;
            padding: 20px;
            margin: 0px;
            background: #f9f9f9;
        
        }
        
        .main_information {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        
        .main_information textarea {
            width: 50%; 
            height: 30px;
            resize: none;
        }
        
        .second_information {
            width: 100%;
        }
        
        .message textarea {
            width: 100%;
            height: 200px;
            resize: none;
        }

    .sub {
        width: 90%;
    }

   
    .nav{border-top:0;}

    .main_send{text-align:center;
        width:100%;
        padding-left:20%;}













        






}
